<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/bootstrap-4.1.3/css/bootstrap.min.css}"/>
    <title>Title</title>
</head>
<body>
<h1>Edit existing Person</h1>

<div class="row">
    <div class="col-12">
        <form th:action="@{/static/personenAdden.html/{id} (id=${person.id})}" th:object="${person}" method="post"
              onSubmit="return confirm('Commit edit?');">
            <div class="form-group">
                <label for="Firstname">Firstname</label>
                <input type="text" class="form-control" id="Firstname" placeholder="Firstname..."
                       th:field="*{firstname}" th:value="${person.firstname}" required>
            </div>
            <div class="form-group">
                <label for="Lastname">Lastname</label>
                <input type="text" class="form-control" id="Lastname" placeholder="Lastname..." th:field="*{lastname}"
                       required
                       th:value="${person.lastname}">
            </div>
            <div class="form-group">
                <label for="Email">Email address</label>
                <input type="email" class="form-control" id="Email" aria-describedby="emailHelp"
                       placeholder="Enter email" th:field="*{email}" th:value="${person.email}" required>
            </div>
            <div class="form-group">
                <label for="birthdate">Birthdate</label>
                <input required th:value="${person.birthdate}" th:field="*{birthdate}" id="birthdate"
                       class="form-control" type="date"/>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="radioM" value="male"
                       th:field="*{gender}" required th:value="${person.gender}">
                <label class="form-check-label" for="radioM">
                    male
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="radioF" value="female"
                       th:field="*{gender}" th:value="${person.gender}">
                <label class="form-check-label" for="radioF">
                    female
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="radioE" value="idk"
                       checked th:field="*{gender}" th:value="${person.gender}">
                <label class="form-check-label" for="radioE">
                    something else
                </label>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
            <script>
                $(document).ready(function () {
                    $('#birthdate').dateTime({
                        format: 'dd.mm.yyyy'
                    });
                })
            </script>


        </form>
    </div>
</div>
<script th:src="@{/bootstrap-4.1.3/js/bootstrap.min.js}"></script>
</body>
</html>